
@{
    ViewBag.Title = "Widgets";
}

<div class="main">
    <section class="whizzbrains-widget-block">
        <div class="container-main">
        <div class="grid-parent">
            <!-- Bootstrap 3 panel list. -->
            <ul id="draggablePanelList" class="ul-base">
                <li class="panel panel-each grid-child">
                    <div class="panel-heading">You can drag this panel.</div>
                    <div class="panel-body">
                        <h1>Los Angeles, CA <a href="#" class="add">+</a></h1>

                        <div class="temperature entypo-light-up">
                            <h2>64<span class="degree-symbol">°</span>F<span class="celcius">| C</span></h2>
                        </div>

                        <ul class="ul-base">
                            <li class="fontawesome-leaf left">
                                <span>4 mph</span>
                            </li>
                            <li class="fontawesome-tint center">
                                <span>65%</span>
                            </li>
                            <li class="fontawesome-umbrella right">
                                <span>10%</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="panel panel-each grid-child">
                    <div class="panel-heading">You can drag this panel.</div>
                    <div class="panel-body">
                        <h1>Calgary, AB <a href="#" class="add">+</a></h1>

                        <div class="temperature entypo-light-up">
                            <h2>64<span class="degree-symbol">°</span>F<span class="celcius">| C</span></h2>
                        </div>

                        <ul class="ul-base">
                            <li class="fontawesome-leaf left">
                                <span>4 mph</span>
                            </li>
                            <li class="fontawesome-tint center">
                                <span>65%</span>
                            </li>
                            <li class="fontawesome-umbrella right">
                                <span>10%</span>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
           </div>
        </div>
</section>
    </div>

